{
  presets: ["es2015"],
  plugins: [
    "transform-flow-strip-types", "babel-plugin-transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
